{% extends 'base.html.twig' %}

{% block title %}Editar Equipo{% endblock %}

{% block body %}
    <h1>Editar Equipo</h1>

    {{ include('equipo/_form.html.twig', {'button_label': 'Update'}) }}

    

    {#{{ include('equipo/_delete_form.html.twig') }}#}
{% endblock %}
