body {
    background-color: rgb(22, 13, 21);
}


@media screen{
    #user_username.form-control, #user_email.form-control, 
    #user_plainPassword_first.form-control, #user_plainPassword_second.form-control{
        width: 300%;
    }
}


label{
    margin-left: 10px;
}

#form_Nombre.form-control{
    width: 30%;
}

#inputEmail, #inputPassword{
    width: 20%;
}

#campeonato_campeonato_nombre, #campeonato_juego{
    width: 30%;
}

.nav-item{
    position: relative;
    left: 600px;
    padding-right: 5%;
}

.navbar-toggler{
    position: relative;
    margin-right: 5%;
}

@media screen and (max-width: 1151px) {
    .nav-item{
        position: relative;
        left: 400px;
        padding-right: 5%;
    }
}
